/* Set a background image by replacing the URL below */
body {
    background: url('./bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
    #total-orders{
        background-color: #c9dbbd;

    }

    #orders-delivered{
        background-color: #c9dbbd;

    }  
    #orders-pending{
        background-color: #c9dbbd;

    }   
