{% load static %}

<style>
  nav{ background: #076d6d;

  }
  #hello-msg{ font-size: 18px;


  }
</style>

<nav class="navbar navbar-expand-lg navbar-light ">
  <img id="img" src="{% static '/images/log.jpg' %}" alt="">    
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ">
        {% if request.user.is_staff%}
        <li class="nav-item active">
          <a class="nav-link text-white" href="{% url 'home' %}">Dashboard<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'products' %}" >Products</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class=" mx-5 nav-link text-white" href="{% url 'settings' %}" >Settings</a>
        </li>
        {%endif%}
      </ul>
    </div>
    <span class="text-white px-4" id="hello-msg">Hello, {{request.user}} </span>
    <span><a class = 'text-warning px-2' href="{% url 'logoutUser' %}">Logout</a></span>


  </nav>