{% extends 'accounts/base.html' %}

{% block content%}

<div class="row ">
    <div class="col-md">
        <div class="card card-body">
            <h5>
                Products
            </h5>
        </div>
        <div class="card card-body">
            <table class="table ">
              
                  <tr>
                    <th scope="col">Produts</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>

                   
                  </tr>
                  
                    {% for product in productList %}
                       <tr>
                          <td>{{product.name}}</td>
                          <td>{{product.category}}</td>
                          <td>{{product.price}}</td>
                       </tr>
                    {% endfor %}

                  </tr>

               

            </table>

        </div>
    </div>
</div>

{% endblock%}
