<div class="row py-2">


    <div class="col-md ">
        <div class="card text-center text-white " id = "total-orders">
            <div class="card-header">
                <h5 class="card title text-dark"> Total orders</h5>
                
            </div>
            <div class="card-body">
                <he class="card-title text-dark">{{noOfOrders}}</he>
            </div>

        </div>
    </div>



    <div class="col-md bg-dark">
        <div class="card text-center text-white" id = "orders-delivered">
            <div class="card-header">
                <h5 class="card title text-dark"> Delivered Orders</h5>
                
            </div>
            <div class="card-body">
                <he class="card-title text-dark">{{deliveredOrders}}</he>
            </div>

        </div>

    </div>



    <div class="col-md bg-dark">
        <div class="card text-center text-white" id = "orders-pending">
            <div class="card-header">
                <h5 class="card title text-dark"> Pending Orders</h5>
                
            </div>
            <div class="card-body">
                <he class="card-title text-dark">{{pendingOrders}}</he>
            </div>

        </div>

    </div>



</div>